.user {
  display: flex;
  justify-content: space-between;

  box-shadow: 0px 0px 8px #000;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;

  width: 100%;

  transition: .5s all;

  input[type='button'] {
    cursor: pointer;
  }
}

.user:hover {
  box-shadow: 0px 0px 3px #000;
  transition: .5s all;
}